<h1> Add a new metric for measuring omnichannel experience</h1>
<div flash-message="3000" ></div>
<input type="text" ng-model="metric.name" class="form-control input-lg metric-name" name="metric-name" placeholder="Enter the metric name">

        <!-- The slider is n't working. Need to write a new directive -->
        <!-- Check this out. http://jsfiddle.net/ZXekc/373/
        Weightage (1-10) -->

<h4> What's the weightage of the metric? {{metric.weightage}}</h4>

<div ui-slider min="0" max="10" class="ui-slider-range rating-slider" ng-model="metric.weightage"></div>



<select ng-model="metric.type" class="metric-option input-lg form-control"  ng-options="metric for metric in metricTypes">
     <option value="" disabled selected style="display: none;">
          <span class="select-placeholder">Select how your metric is represented?</span>
     </option>
</select>

<input type="text" ng-show="metric.type.toLowerCase() === 'value'" ng-model="metric.benchmarkvalue" class="form-control input-lg metric-name" name="metric-benchmark" placeholder="Enter the Benchmark value">

<select ng-model="metric.category" class="metric-option input-lg form-control"  ng-options="categ for categ in categories">
     <option value="" disabled selected style="display: none;">
           <span class="select-placeholder">Which category does your metric belong to? </span>
     </option>
</select>

<span><h4> Hey, ! Higher the value is better (or) lower the better? </h4></span>
<label>
    <input type="radio" name="rateorder checkbox-info" ng-model="metric.rateorder" value="high">
    &nbsp;Higher
</label>
<label> <input type="radio" ng-model="metric.rateorder" value="low" name="rateorder" >&nbsp;Lower </label></br></br>
<button class="btn btn-info btn-lg btn-admin-panel" type="submit" ng-click="submit()">Add Metric</button>


