<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="btn-group btn-group-lg btn-blocks" role="group" aria-label="...">
                <div class="row">
                    <div class="col-md-3">
                            <button id="japan-btn" type="button" ng-class="{active:btn.japan.state}" ng-click="selectCountry($event,'Japan')" class="btn btn-default">Japan</button>
                    </div>
                    <div class="col-md-3">
                        <button id="hongkong-btn" type="button" ng-class="{active:btn.hongkong.state}" ng-click="selectCountry($event,'Hongkong')" class="btn btn-default">Hongkong</button>
                    </div>
                    <div class="col-md-3">
                        <button id="singapore-btn" type="button" ng-class="{active:btn.singapore.state}" ng-click="selectCountry($event,'Singapore')" class="btn btn-default">Singapore</button>
                    </div>
                    <div class="col-md-3">
                        <button id="malaysia-btn" type="button" ng-class="{active:btn.malaysia.state}" ng-click="selectCountry($event,'Malaysia')" class="btn btn-default">Malaysia</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="input-group">
                <input ng-model="insuranceCompany" placeholder="Search for your Insurance Company" uib-typeahead="company for company in insuranceCompanyList | filter:$viewValue | limitTo:8" class="form-control input-lg insurance-search"  type="text">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-lg btn-insurance-search" type="button">
                      <i class="fa fa-search"></i>
                  </button>
                </span>
            </div><!-- /input-group -->

        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
