<div class="row score-row col-wrap">
    <div class="col-xs-1"></div>
    <div class="col-xs-11 score-summary">
        <div class="row">
            <div class="col col-xs-6">
                <img src="../images/Company.png">
                <h1>{{stats.company | uppercase}},{{stats.market | uppercase}}</h1>
            </div>
            <div class="col col-xs-6">
                <img src="../images/overall-score.png">
                <h1>Di2 SCORE: {{stats.overallScore}}</h1>
            </div>
        </div>
    </div>
</div>