<ul>
    <li ng-repeat="rating in value.RatingMetric | LoopFilter ">
        <div class="row">
            <div class="col-xs-6">
                <span class="panel panel-box">
                    <div class="metric-top-area">
                        <i ng-class="rating.icon" ng-style="{color:rating.iconcolor}"></i>
                    </div>
                    <div class="panel-info">
                        <span><b>{{rating.name}}</b></span>
                    </div>
                    <div class="metric-bottom-area">
                        <span class="rating-metric"> <span star-rating rating-value="rating.value" max="5" ></span>&nbsp;</span>
                    </div>
                </span>
            </div>
            <div class="col-xs-6">
                <span class="panel panel-box">
                    <div class="metric-top-area">
                        <i ng-class="value.RatingMetric[($index *2 +1)].icon" ng-style="{ color:value.RatingMetric[($index *2 +1)].iconcolor}"></i>
                    </div>
                    <div class="panel-info">
                        <span><b>{{value.RatingMetric[($index *2 +1)].name}}</b></span>
                    </div>
                    <div class="metric-bottom-area">
                        <span star-rating rating-value="rating.value" max="5" >{{value.RatingMetric[($index *2 +1)].value}}</span>
                    </div>
                </span>
            </div>
        </div>
    </li>
</ul>