<div id="stats-area">
   <!-- <div id="country-score" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7 category-odd-row">
            <h1>{{company}} - {{market}}</h1>
        </div>
        <div class="col-md-4"></div>
    </div>-->
<ul class="categ-stats" id="categ-stats">
    <li ng-repeat = "(key, value) in categJSON['singapore']['AIA']" >
        <div id="categ-{{$index}}" class="row box-shadow row-eq-height container-row" ng-class-odd="'category-odd-row'" ng-class-even="'category-even-row'">
            <div class="col col-md-1 categ-col-menu">
            </div>
            <div class="col-md-7 categ-col-1">
                <h1>{{key | uppercase}}</h1>
                <ul>
                    <li ng-repeat="rating in value.RatingMetric ">
                        <span class="star-label">{{rating.name}} :</span>&nbsp;
                        <span star-rating rating-value="rating.value" max="5" ></span>&nbsp;
                      <!--  <span class="star-label presence-col-2">{{value.RatingMetric[($index *2 +1)].name}} : </span> &nbsp;
                        <span star-rating rating-value="rating.value" max="5" >{{value.RatingMetric[($index *2 +1)].value</span>-->
                    </li>
                    </br>
                </ul>
                <ul>
                    <li ng-repeat="boolean in value.BooleanMetric ">
                        <span class="star-label">{{boolean.name}} :</span>&nbsp;
                        <span ng-if="boolean.value === 'yes'">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                        <span ng-if="boolean.value === 'no'">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>&nbsp;&nbsp;
                       <!-- <span class="star-label presence-col-2">{{value.BooleanMetric[($index * 2+1)].name}} :</span>&nbsp;
                        <span ng-if="value.BooleanMetric[($index * 2+1)].value === 'yes'">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                        <span  ng-if="value.BooleanMetric[($index * 2+1)].value === 'no'">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>-->
                        </br>
                    </li>
                </ul>
                <ul>
                    <li class="valuemetric" ng-repeat ="metric in value.ValueMetric" ng-init="prepareConfig(metric,value.ValueMetric[($index * 2+1)])">

                        <span ng-if="metric.rateorder === 'high'">
                            <span class="star-label">{{metric.name}} :</span>
                            <span easypiechart ng-init="percent=metric.value" options="easypieoptions" percent="percent"><span class="text-easypie-percent">{{percent}}</span></span>
                        </span>
                        <span ng-if="metric.rateorder === 'low'">
                            <!-- TBD -->
                        </span>
                        <!--<span ng-if="value.ValueMetric[($index * 2+1)].rateorder === 'high'">
                            <span class="star-label presence-col-2">{{value.ValueMetric[($index * 2+1)].name}} :</span>
                            <span easypiechart options="easypieoptions" percent="percent"><span class="text-easypie-percent">{{percent}}</span></span>
&lt;!&ndash;
                            <highchart class="highcharts-config" config="config2"></highchart>
&ndash;&gt;
                        </span>
                        <span ng-if="value.ValueMetric[($index * 2+1)].rateorder === 'low'">
                            &lt;!&ndash; TBD &ndash;&gt;
                        </span>-->
                    </li>
                    </br>
                </ul>
            </div>
            <div class="col-md-4 categ-col-2">
                <h1>SCORE : {{value.Score}}</h1>
                <h3>RECOMMENDATION:</h3>
                <ul>
                    <li ng-repeat="reco in value.Recommendations">
                        {{reco}}
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
</div>