<div id="stats-area">

    <div ng-include="'views/CompanyInfo.html'"></div>
    <div ng-include="'views/OverallScore.html'"></div>


    <div class="row">
        <div ng-include="'views/StatsMenu.html'"></div>
        <ul class="categ-stats col-xs-11" id="categ-stats">
            <li  ng-repeat = "(key, value) in categJSON[stats.market][stats.company]" class="metric-list" id="categ-{{$index}}">
                <div ng-if="categories.indexOf(key) > -1">
                    <div class="row row-eq-height container-row" ng-class-odd="'category-odd-row'" ng-class-even="'category-even-row'">

                        <div class="col col-md-7 categ-col-1">
                            <div class="row">
                                <div class="col-xs-12 categ-header">
                                    <h2>{{key | uppercase}}</h2>
                                </div>
                            </div>
                            <div class="row col-wrap">
                                <div class="col-xs-12">
                                    <span ng-include="'views/RatingMetric.html'"></span>
                                    <span ng-include="'views/BooleanMetric.html'"></span>
                                    <span ng-include="'views/ValueMetric.html'"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-5 categ-col-2">
                            <div class="row categ-header">
                                <div class="col-xs-12" >
                                    <h2>SCORE : {{value.score}}</h2>
                                </div>
                            </div>
                            <h2>COMMENTS:</h2>
                            <ul>
                                <li class="reco-list-item" ng-repeat="reco in value.Recommendations">
                                    <i class="fa fa-circle reco-circle"></i>{{reco}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
