<ul>
    <li class="valuemetric" ng-repeat ="metric in value.ValueMetric | LoopFilter" ng-init="prepareConfig(metric,value.ValueMetric[($index * 2+1)])">

            <span ng-if="metric.rateorder === 'high'">
                <div class="row metric-display-row">
                    <div class="col-xs-6">
                        <span class="panel panel-box">
                            <div class="metric-tooltip">
                                <u ng-show="metric.name">whats this?</u>
                            </div>
                            <div class="metric-top-area">
                                <i ng-class="metric.icon" ng-style="{color:metric.iconcolor}"></i>
                            </div>
                            <div class="panel-info">
                                <span><b>{{metric.name}}</b></span>
                            </div>
                            <div class="metric-bottom-area">
                                <span class="value-metric element"> <b>{{metric.value}}</b></span>
                            </div>
                            <dynamic-tooltip market="{{stats.market}}" company="{{stats.company}}" toolmsg="toolMessage.message" metricname="{{metric.name}}" > </dynamic-tooltip>
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <span class="panel panel-box">
                            <div  class="metric-tooltip">
                                <u ng-show="value.ValueMetric[($index * 2+1)].name">whats this?</u>
                            </div>
                            <div class="metric-top-area">
                                <i ng-class="value.ValueMetric[($index *2 +1)].icon" ng-style="{ color:value.ValueMetric[($index *2 +1)].iconcolor}"></i>
                            </div>
                            <div class="panel-info">
                                <span><b>{{value.ValueMetric[($index * 2+1)].name}}</b></span>
                            </div>
                            <div class="metric-bottom-area">
                                <span class="value-metric element"><b>{{value.ValueMetric[($index * 2+1)].value}}</b> </span>
                            </div>
                            <dynamic-tooltip market="{{stats.market}}" company="{{stats.company}}" toolmsg="toolMessage.message" metricname="{{value.ValueMetric[($index * 2+1)].name}}" > </dynamic-tooltip>
                        </span>
                    </div>
                </div>
            </span>
            <span ng-if="metric.rateorder === 'low'">
                <!-- TBD -->
            </span>
    </li>
</ul>