<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CSC Insurance Index</title>

    <!-- Bootstrap core CSS -->
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="theme/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="theme/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="theme/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="theme/plugins/ladda-buttons/css/custom-lada-btn.css">
    <link rel="stylesheet" href="theme/css/plugins/hover-effect/css/custom-hover-effects.css">

    <link rel="stylesheet" href="theme/plugins/font-awesome/css/font-awesome.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="theme/css/theme-colors/default.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="theme/css/custom.css">

    <!-- Custom CSS -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href="styles/styles.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/theme/js/plugins/circles-master.js"></script>
    <script src="libs/theme/plugins/circles-master/circles.js"></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="libs/jquery.easy-pie-chart/dist/angular.easypiechart.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script>
    <script src="libs/highcharts-ng/dist/highcharts-ng.min.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="libs/ngmenu/src/mfb-directive.js"></script>
    <script src="app.js"></script>
    <script src="directives/StarDirective.js"></script>
    <script src="filter/LoopFilter.js"></script>
    <script src="services/GlobalValues.js"></script>
    <script src="services/StaticResourceFactory.js"></script>
    <script src="services/ChartConfig.js"></script>
    <script src="services/CountryStatsFactory.js"></script>
    <script src="services/StatsService.js"></script>
    <script src="controllers/CMenuController.js"></script>
    <script src="controllers/CountryController.js"></script>
    <script src="controllers/SocialController.js"></script>
    <script src="controllers/SupportController.js"></script>
    <script src="controllers/MarketingController.js"></script>
    <script src="controllers/AnalyticsController.js"></script>
    <script src="controllers/MobilityController.js"></script>
    <script src="controllers/MainController.js"></script>
    <script src="controllers/StatsController.js"></script>
    <script src="controllers/MFBController.js"></script>


</head>
<body ng-app="InsuranceIndex">
<div id="wrapper">
    <div id="content">
        <div class="container-fluid container-full">
            <div class="row navrow">
                <div class="col-md-12">
                    <nav class="navbar navbar-inverse navbar-fixed-top">

                        <div class="container">
                            <div class="navbar-header">

                                <img class="csc-logo" src="images/logo-CSC.gif">

                                <a class="navbar-brand" href="#">
                                    <span class="nav-heading"> Insurance Index - Omnichannel Experience </span>

                                </a>
                            </div>
                            <a href="/"><i class="fa fa-home home-icon"></i></a>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row" ng-controller="MainController">

                <div class="col-md-12 stats-area">
                    <div class="insurance-heading" ng-show="insuranceHeading">

                        <div class="row tag-box tag-box-v5" >

                            <div class="col-md-12">
                                <h1 class="text-header">Know your Company's Digital Insurance Index!</h1></br>
                                <span>Benchmark your insurance company against your competition . Select Market below to analyse</span>
                            </div>
                        </div>

                    </div>

                    <span class="menuarea" ng-hide="insuranceHeading">
                        <ul class="mfb-component--bl mfb-slidein mfb-slidein" data-mfb-toggle="hover">
                            <li class="mfb-component__wrap">
                                <a data-mfb-label="Category Menu" class="mfb-component__button--main">
                                    <i class="mfb-component__main-icon--resting glyphicon glyphicon-menu-hamburger"></i>
                                    <i class="mfb-component__main-icon--active glyphicon glyphicon-plus"></i>
                                </a>
                                <ul class="mfb-component__list">
                                    <li ng-repeat="item in menu">
                                        <a href="#categ-{{$index}}" data-mfb-label="{{item.name}}" class="mfb-component__button--child">
                                            <i class="mfb-component__child-icon glyphicon {{item.icon}}"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </span>

                    <div ng-controller="CMenuController">
                        <span ng-include="'countrymenu.html'"></span>
                    </div>

                    <div ng-controller="MainController" ng-show="insuranceHeading" class="service-row">
                        <!-- Service Blocks -->
                        <div class="row margin-bottom-10">
                            <div class="col-md-3 col-sm-6">
                                <div class="service-block service-block-u">
                                    <i class="icon-2x color-light fa fa-thumbs-o-up"></i>
                                    <h2 class="heading-md">Omnichannel Experience</h2>
                                    <p>CSC Digital Insurance Index helps you to understand 360 degree of your customer interaction with your digital apps</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-block service-block-blue">
                                    <i class="icon-2x color-light icon-line icon-trophy"></i>
                                    <h2 class="heading-md">Analytics & Conversion</h2>
                                    <p>Know how to integrate data from all sources into a unified Analytics platform and acquire new customers.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-block service-block-dark">
                                    <i class="icon-2x color-light fa fa-bell-o"></i>
                                    <h2 class="heading-md">Social & CRM </h2>
                                    <p>Automate & Integrate your insurance apps with social channels. Get feedback & Improve insurance plans.</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-block service-block-red">
                                    <i class="icon-2x color-light icon-line icon-fire"></i>
                                    <h2 class="heading-md">SEO & Ads</h2>
                                    <p>Monitor & Measure your ad spend through smart analytics and increase ads click-through and conversion rates. </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service Blcoks -->
                    </div>
                        <!--<ul>
                            <li class="menu-select" ng-repeat="item in menu">
                                <span class="glyphicon {{item.icon}}" aria-hidden="true"></span> &nbsp;
                                <span class="item-name"><a href="#/{{item.url}}">{{item.name}}</a></span>
                            </li>
                        </ul>-->
                    <div ui-view></div>
                </div>
            </div>


        </div><!-- /.container -->
    </div>

</div>
<!--<div class="row">
    <section>
        <div id="footer">
            <div class="container">
                <span class="copyrights-text">Copyrights &copy 2015. All rights reserved</span>
            </div>
        </div>
    </section>
</div>-->
</body>
</html>
