/*
Error: Invalid CSS after "...ground: $theme-": expected ";", was "#00BDB3color-red;"
        on line 61 of styles.scss
        from line 1 of adminstyles.scss

56:       //background-color: $theme-color-1;
57:       background: $theme-color-red;
58: 
59:       .navbar{
60:         //background-color: $theme-color-1;
61:         background: $theme-#00BDB3color-red;
62:       }
63:     }
64:   .navbar-inverse{
65:     border-bottom:3px solid #fff;
66:   }

Backtrace:
styles.scss:61
adminstyles.scss:1
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:775:in `block in try_declaration'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1155:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1155:in `rethrow'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:780:in `try_declaration'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:710:in `declaration_or_ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:664:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/engine.rb:309:in `to_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.20/bin/scss:13:in `<top (required)>'
C:/Ruby21/bin/scss:23:in `load'
C:/Ruby21/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ground: $theme-\": expected \";\", was \"#00BDB3color-red;\"\A         on line 61 of styles.scss\A         from line 1 of adminstyles.scss\A \A 56:       //background-color: $theme-color-1;\A 57:       background: $theme-color-red;\A 58: \A 59:       .navbar{\A 60:         //background-color: $theme-color-1;\A 61:         background: $theme-#00BDB3color-red;\A 62:       }\A 63:     }\A 64:   .navbar-inverse{\A 65:     border-bottom:3px solid #fff;\A 66:   }"; }
