@import "styles.scss";
$theme-color-1 : #6B305A;

.company-info-section{

}

.admin-form-field{
  margin-top:10px;
  margin-bottom:10px;
  border-radius:0px;
  margin-left:0px;
}
.company-form{
  border-radius : 0px;
}

.required-flag{
  color:#F00000;
  float:left;
}

.btn-admin-panel{

  border-radius: 0px;
  margin:30px 0px 50px 0px;
  padding:10px;
  max-width:300px;
  min-width:100px;
  margin-bottom:40px;
  background-color:$theme-color-1 !important;
  color : #fff !important;
  border-color : $theme-color-1;

}

.input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.input.ng-valid.ng-touched {
  background-color: #78FA89;
}

.admin-menu-item{
  display:block;
  line-height:10px;
  font-size:14px;
  width:80%;
  padding:10px;
  margin:0px;
  border : solid 1px #ccc;
  vertical-align: middle;


}

.admin-menu-item-heading{
  display:block;
  line-height:10px;
  font-size:14px;
  width:83%;
  margin:0px;
  padding:10px;
  border : solid 1px #ccc;
  vertical-align: middle;
  color:#fff;
  background:$theme-color-1;

}
.glyphicon{
  background:$theme-color-1;
  color:#fff;
  padding:4px;
}

.admin-menu-area{
  vertical-align: middle;
  width:100%;
  line-height:20px;
  margin-top:40px;
  position:absolute;
  a{
    text-decoration: none;
    color: #000;
  }
}
.admin-menu-list{
  padding-left:0px;
  margin-bottom:0px;
  a{

  }
}

.metric-name{
  width:60%;
  margin-bottom:20px;
}
.metric-option{
  width:60%;
  marrgin-top:20px;
  margin-bottom:20px;
}
.select-placeholder{
  color:#cccccc;
}
input[type=checkbox], input[type=radio]{
  display: inline;
}

.ui-slider-range{
  width:59%;
  margin-bottom:20px;
  margin-left:10px;
}

.metric-list{
  display:block;
  line-height:25px;
  width:80%;
  border : 1px solid #ccc;
  padding:5px;

}
.categ-list{
  display:block;
  line-height:25px;
  width:80%;
  border : 1px solid #ccc;
  padding:5px;
  margin-bottom:10px;
  padding:10px 0px 0px 10px;

}

.remove-icon{
  float : right;
  vertical-align: middle ;
  padding:5px;
}

.metrics-box{
  margin-top:50px;
}
input[type="text"]{
  border: 1px solid $theme-color-1;
  border-radius:0px;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 20px;
  width: 60%;
}

.ui-widget-content{
  background:$theme-color-1;
  border-radius:0px;
  border : 1px solid $theme-color-1;
}

.ui-widget-content .ui-state-default {
  background : #1c94c4;
}


#footer {
  height: 30px;
  background: $theme-color-gradient-1;
  color : #fff;
  margin:0px;
  width: 100%; // Don't change
  z-index: -999;
  bottom:0px;
  position:absolute;
  padding-top:5px;
  align-content: center;
  clear : both;
  margin-top:20px;

}