body {
  margin: 0;
  padding: 0;
  height: 100%; }
  body .text-header {
    margin: 5% 0% 0% 10%;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 49px; }
  body .text-sub-header {
    margin-left: 5%; }
  body .navrow {
    height: 50px;
    background: linear-gradient(to right, #7b4397 0%, #09395C 59%, #dc2430 87%); }
    body .navrow .navbar {
      background: linear-gradient(to right, #7b4397 0%, #09395C 59%, #dc2430 87%); }
  body .insurance-search {
    margin-top: 20px;
    height: 50px;
    border-radius: 0px; }
  body .btn-insurance-search {
    margin-top: 20px;
    height: 50px;
    border-radius: 0px;
    width: 70px; }
  body .country-controller {
    margin: 30px; }
  body .btn-blocks {
    width: 100%; }
    body .btn-blocks .btn-default {
      padding: 12px 12px;
      width: 100%;
      margin-top: 40px;
      border-radius: 0px; }
  body #main-info-table {
    margin-top: 10px; }
    body #main-info-table table {
      border: solid 1px #09395C; }
  body .menuarea {
    padding: 0px;
    height: 100%;
    min-height: 100%; }
    body .menuarea ul .menu-extra {
      width: 30%;
      background-color: #e1e1e1; }
  body #search-country {
    width: 100%;
    margin-top: 10px; }
  body .navbar-header .navbar-brand {
    color: #fff !important;
    font-size: 28px; }
    body .navbar-header .navbar-brand .nav-heading {
      padding: 10px !important;
      text-align: center; }
  body .navbar-header input {
    float: left;
    display: inline-block !important; }
  body .navbar-header .form-control {
    float: left !important;
    display: inline-block !important; }
  body .panel-heading {
    width: 30%;
    font-size: 100px;
    padding: 10px 0px 0px 0px; }
  body .menu-list {
    list-style: none;
    margin-top: 10px;
    padding-left: 0px; }
    body .menu-list .list-item {
      line-height: 40px;
      font-size: 30px;
      text-align: center;
      width: 70%;
      background-color: #ffffff;
      color: #000;
      padding: 10px 10px 10px 10px;
      margin-bottom: 1.5px; }
      body .menu-list .list-item span.item-name {
        display: none;
        width: 100%; }
      body .menu-list .list-item a {
        text-decoration: none;
        color: inherit; }
    body .menu-list .list-item:hover {
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      padding: 5px; }
      body .menu-list .list-item:hover span.item-name {
        display: inline; }
  body .menu-list li:first-child {
    background-color: #09395C;
    color: #fff; }
  body .menu-list li:hover {
    background-color: #FFFFFF;
    color: #09395C;
    border: 1px solid #09395C; }
  body .container-full {
    margin: 0 auto;
    width: 100%;
    margin-left: 0px; }
  body .csc-logo {
    width: 90px;
    height: 50px;
    display: inline-block;
    float: left;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 10px; }
  body #main-info-table .table th {
    background-color: #09395C;
    color: #fff; }
  body #main-info-table .table tr:nth-child(odd) {
    background-color: #ffffff; }

.copyrights-text {
  text-align: center;
  margin-top: 20px; }

#csc-index-column-chart {
  margin-top: 100px; }

.cscindexchart {
  color: #fff;
  background-color: #EF2525; }

.chart-area {
  border: 1px solid #ccc; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

* html #wrapper {
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative; }

#content {
  padding-bottom: 30px;
  /* ATTENTION! padding-bottom should be equal to the footer height (this keeps the footer from overlapping the content) */ }

#footer {
  position: absolute;
  width: 100%;
  clear: both;
  bottom: 0;
  padding: 0;
  margin: 0;
  /* ATTENTION! The following elements below
  can be set to whatever your heart desires */
  height: 30px;
  /* REMEMBER height = padding-bottom */
  background: linear-gradient(to right, #7b4397 0%, #09395C 59%, #dc2430 87%);
  color: #fff; }

/*# sourceMappingURL=styles.css.map */
