
//$main-color: #6B305F;
$number-of-child-buttons : 10;
$theme-color-green : #000000; //#4C7628;camera o
$theme-color-red : #5F5F5F; //#4C7628;camera o
$theme-color-gradient-red : #EFEFEF; //#4C7628;camera o

@import "../libs/ngmenu/mfb/src/mfb.scss";
$theme-color-1-bkp : #222222;
$theme-color-1 : #09395C;

$theme-color-2 : #EF2525;
$theme-color-3 : #EBEBEB;
$theme-color-gradient-1 : #4C7628;
$theme-color-gradient-list : linear-gradient(#ECE9E6, #FFFFFF);
$theme-color-4 : #6B305F;

$navbar-heading-color : #fff !important;
$navbar-heading-font-size : 28px ;
$menu-color : #704E4E;

body{
    //background-image: url("../images/insurance.jpg");
    //background-repeat : no-repeat;
    //background-size : 100%;

    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    .text-header{
      font-size: 45px;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
    }
    .categ-header{
      //h1{
      //  color:#fff !important;
      //}
      background-color: $theme-color-red;
      padding:10px 0px 0px 10px;
      h2{
        color:#fff !important;
      }

    }

    .text-sub-header{
      margin-left:15.33%;
    }
    .navrow {
      height:50px;
      //background-color: $theme-color-1;
      background: $theme-color-red;

      .navbar{
        //background-color: $theme-color-1;
        background: $theme-color-red;
      }
    }
  .navbar-inverse{
    border-bottom:3px solid #fff;
  }

  .insurance-search{
    margin-top:20px;
    height:80px;
    border-radius:0px;
    font-size:30px;
  }
  .btn-insurance-search{
    margin-top:20px;
    height:80px;
    border-radius:0px;
    width:70px;
  }
  .country-controller {
    margin : 30px;
  }
    .btn-blocks {
      width:100%;
      .btn-default{
        padding: 12px 12px;
        width:100%;
        margin-top:40px;
        border-radius:0px;
      }
      .btn-country{

      }
    }



  #main-info-table{
    table{
      border: solid 1px $theme-color-1;
    }
    margin-top:10px;
  }
  .menuarea{
    padding:0px;
    position:fixed;
    top:190px;
    left:0px;
    margin-left:0px;
    width:8%;
    ul{
      margin:0px;
      padding:0px;
    }
  }


    #search-country{
      width:100%;
      margin-top:10px;
    }

    .navbar-header{
      .navbar-brand{
        color:$navbar-heading-color;
        font-size: $navbar-heading-font-size;
        //background-color:$theme-color-1;
        .nav-heading{
          padding:10px !important;
          text-align:center;
        }
      }
      input {
          float:left;
          display:inline-block !important;
      }
      .form-control{
        float:left !important;
        display:inline-block !important;
      }
    }
  .panel-heading{
    width:30%;
    font-size:100px;
    padding:10px 0px 0px 0px;

  }
    .menu-list{
      .list-item{
        span.item-name {
          display: none;
          width:100%;
        }
        line-height:10px;
        font-size:30px;
        text-align:center;
        width:70%;
        background-color: #ffffff;
        color: #000;
        padding:10px 10px 10px 10px;
        margin-bottom:1.5px;
        a{
          text-decoration: none;
          color : inherit;
        }
        a:hover{

        }
      }
      .list-item:hover{

        span.item-name{
          display: inline;
        }
        width:100%;
        font-size:12px;
        font-weight: bold;
        text-align:left;
        padding:5px;
      }

      list-style: none;
      margin-top:10px;
      padding-left:0px;
    }
  .menu-list li:first-child{
     background-color: $theme-color-1;
     color: #fff;

  }
  .menu-list li:hover{
    background-color:#FFFFFF;
    color:$theme-color-1;
    border: 1px solid $theme-color-1;
  }
  .container-full {
    margin: 0 auto;
    width: 100%;
    margin-left:0px;
  }

  .csc-logo{
    height:30px;
    width:50px;
    inline:inline-block;
    margin : 10px 0px 2px 0px;
    float:left;
    padding-left:10px;
  }
  #main-info-table{
    .table{
      th{
        background-color:$theme-color-1;
        color:#fff;
      }
      tr:nth-child(odd){
        background-color:#ffffff;
      }
    }
  }
  .home-icon{
    float:right;
    font-size:30px;
    color:#fff ;
    margin-top:10px;

  }

}



.copyrights-text{
  text-align:center;
  margin-top:20px;
}
#csc-index-column-chart{
  margin-top:100px;
}
.cscindexchart{
  color:#fff;
  background-color:$theme-color-2;
}
.chart-area{
  border : 1px solid #ccc;
}


//
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
* html #wrapper {
  height:100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom:40px;
}
#content {
  padding-bottom: 30px; /* ATTENTION! padding-bottom should be equal to the footer height (this keeps the footer from overlapping the content) */
}

#footer {
  height: 30px;
  background: $theme-color-gradient-1;
  color : #fff;
  margin:0px;
  width: 100%; // Don't change
  z-index: -999;
  bottom:0px;
  position:fixed;
  padding-top:5px;
  align-content: center;
  clear : both;
  margin-top:20px;

}
.highcharts-container{
 /* width:100% !important; height:300px !important;
  overflow:hidden !important;
  overflow-y:scroll !important;*/
}

.company-drop-down{
  position:fixed;
  top:20%;
  padding:10px;
  left:60%;

  color:#fff !important;
  z-index:999;
  button{
    background-color:#00BDB3;
    opacity: 0.5;
    content-align:center;
    width:400px;
  }
  .dropdown-menu{
      font-size:15px;
      width:400px;
     padding-left:20px;
  }

}
.companyinfo-even-row{
  background-color:#f9f9f9;
  color:#000;
}

.menu-select{
  list-style: none;
  margin:0px;
  width:80px;
  margin-bottom:2px;
  opacity: 0.8;
  color:#fff;
  background-color:$theme-color-4;
  font-size : 10px;
  a{
    text-decoration:none;
    color:#fff;
  }
  a:hover{
    text-decoration: none;
    color:#fff;
  }

}
.stats-area{
  margin-left:0px;
  padding:0px;
  height:400px;
  width:100%;
}

.menu-pos{
  position:absolute;
  top:0px;
  margin:0px;
  padding:0px;
}
.menuarea{
  font-size:12px;
}
.mfb-component--bl{
  margin-bottom:32px !important;
}

.categ-stats >  li:first-child{
  margin-top :20px;
}
.categ-stats >  li:last-child{
  margin-bottom:30px;
}
.categ-stats{
  padding-left:0px;
  margin-right:0px;
  li {
    text-decoration : none;
    list-style :none;
  }

  h1{
    font-family: 'Lato', sans-serif;
    font-size:50px;
    font-weight:500;
  }
  .glyphicon-ok{
    color:#0F0;
    font-size:30px;
  }
  .glyphicon-remove{
    color:#F00000;
    font-size:30px;
  }
  .ng-scope{
    padding:0px;
    margin:0px;
  }
  ul{
    margin:0px;
    padding:0px;
  }
}
.valuemetric{
  margin-bottom:30px;
}
.category-odd-row{
 /* background-color:#EF2525;
  background: -webkit-linear-gradient(red, #f06d06); *//* For Safari 5.1 to 6.0 *//*
  background: -o-linear-gradient(red, #f06d06); *//* For Opera 11.1 to 12.0 *//*
  background: -moz-linear-gradient(red, #f06d06); *//* For Firefox 3.6 to 15 *//*
  background: $theme-color-gradient-1 ; *//* Standard syntax (must be last) */

  min-height: 200px;
  max-height: 5000px;
  overflow: hidden;
  background:$theme-color-gradient-red;
  .col{
    min-height: 200px;
    max-height: 5000px;
    overflow: hidden;
  }
  //height:700px;
  padding: 0px 0px 10px 0px;
  margin-bottom:10px;

  .categ-col-1{
    //border-right : 1px solid #fff;
  }
  ul, li{
    padding:0px;
    margin:0px;
    color:#000 !important;
  }
  ul{
    min-height:50px;
    max-height:1000px;
    color:#000 !important;
  }
  h1,h2,h3{
    color:#000 !important;
  }
  //background: $theme-color-gradient-list;
}
.category-even-row{
  background-color:#fff;
  .panel {
    margin-bottom: 20px;
    background-color: #fff;
  }
  min-height: 200px;
  max-height: 5000px;

  overflow: hidden;

  //height:700px;
  padding: 0px 0px 20px 0px;
  margin-bottom:10px;
  .categ-col-1{
    //border-right : 1px solid #000;
  }
  ul, li{
    padding:0px;
    margin:0px;
    min-height:50px;
    max-height:200px;
    color:#000 !important;
  }
  ul{
    min-height:50px;
    max-height:1000px;
    color:#000 !important;
  }
  .col{
    min-height: 400px;
    max-height: 5000px;
    overflow: hidden;
  }
  h1,h2,h3{
    color:#000 !important;
  }
  //background: $theme-color-gradient-list
}
.col-wrap{
  overflow: hidden;
}

.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size:20px;
}
.rating .filled {
  color: #ff8c00 !important;
}
.star-label{
  font-size:15px;
  font-weight:100;
  color:inherit;
}

.presence-col-2{
  margin-left:30px;
}

.categ-col-1 ul li{
  margin:0px;
  padding:0px;
}
.highcharts-config{
  width:300px;
  height:200px;
}

//

.text-easypie-percent{
  position:relative;
  left:80px;
  top:-50px;
  font-size:15px;
}


.btn-country-options{
  margin-left:20px;
}

//This is to extend width of typeahead
.dropdown-menu{
  width: -moz-calc(100% - 28px);
  width: -webkit-calc(100% - 28px);
  width: calc(100% - 1px);
  font-size:30px;
}

.btn-country{
  background-color:#fff;
  border:2px solid $theme-color-red;
  color:#000;
  height:100px;
  font-size:35px;
  width:200px;
}

.btn-country.active, .btn-country:active{
  background-color:#00BDB3;
  color:#fff;
  border : 0px;
  height:100px;
  font-size:35px;
  width:200px;
}
.btn-country:hover{
  background-color:#00BDB3;
  color:#fff;
  height:100px;
  font-size:35px;
  width:200px;
}

.box-shadow:after {
  content: "";
  width: 150px;
  height: 1px;
  margin-top: 88px;
  margin-left: -75px;
  display: block;
  position: absolute;
  left: 50%;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 8px 2px #000000;
  -moz-box-shadow: 0px 0px 8px 2px #000000;
  box-shadow: 0px 0px 8px 2px #000000;
}

#stats-area{
  padding-top:30px;
  padding-bottom:30px;
}

.container-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-bottom:40px;
}
.service-block{
  font-family: "Times New Roman", serif;
}
.service-row{
  margin-top : 80px;
}
.score-row{
  font-family: 'Lato', sans-serif;
  background-color:#fff;
  width:100%;
  padding:0px;
  margin:0px;
  padding-top:10px;
  .col-xs-1{

  }
}

.score-summary{
  padding-top:20px;
  height:130px;
  background-color: #fff;
  h1{
    font-size:40px;
    font-family: 'Lato', sans-serif;
    color:#000000 !important;
    display:inline-block;
    vertical-align:middle;
    align-content: center;
  }
  .company-icon{
    width:100px;
    height:100px;
    float:left;
    display:inline-block;
  }
  .fa-bank{
    font-size:60px;
    color: $theme-color-red;
  }
  .fa-certificate{
    font-size:60px;
    color: $theme-color-red;
  }
}

.col-wrap{

}

.col .well{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  background-color:#fff;
  border:0px;
}

.mfb-component__button--main, .mfb-component__button--child {
  background-color: #00BDB3;
}

.container{
  border:0px;
}
.metric-list{
  padding-top:40px !important;
}
.metric-tooltip{
  font-size:10px !important;
  position:relative;
  left:125px;
  u{
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
  }
}
.metric-top-area{
  height:80px;
  width:350px;
  background-color:#fff;
  font-size:40px;
  color:#000;
}
.metric-bottom-area{
  height:80px;
  width:350px;
  background-color:#f9f9f9;
  border-top: 1px solid #dfdfdf;
  font-size:25px;
  color:#000;
  .element {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
  }
}
.metric-display-row{
  height:160px;
  margin-bottom:50px;
}
.panel-box {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 350px;
  text-align: center;
}
.panel {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius : 2px;
  border-color: #e2edeb;
  background-color: $theme-color-gradient-red;
}
.panel-info {
  position: absolute;
  top: 80px;
  width:100%;
  margin-top: 10px;
}

.panel-info span {
  height: 24px;
  display: inline-block;
  padding: 4px 10px;
  text-transform: uppercase;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  font-size: 11px;
  color: #777;
  border-radius: 2em !important;
}
.categ-reco{
  margin-right:10px;
  font-size:12px;
  color: $theme-color-red;
}
.reco-list-item{
  margin-bottom: 5px;
}
.compare-btn{
  width:120px;
  background-color : #00BDB3;
  color:#fff;
  border-radius:10px;
}

.compare-metric{
  height:40px;
}
.metric-tooltip{
  height:20px;
}

.reco-circle{
  font-size:7px;
  padding-right:10px;
  color:#5F5F5F;
}
.comment-text{
  font-size:20px;
  padding-bottom:15px;
}